<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cursos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="cursos.component.css" />
  </head>
  <body>
    <br />
    <br />
    <h1 class="title">Crear nueva Materia</h1>
    <div class="card-body">
      <form class="form">
        <div>
          <label class="form-label" for="id">ID Materia:</label>
          <input
            type="number"
            class="form-control"
            id="id"
            name="id"
            #id
            required
          />
        </div>
        <div>
          <label class="form-label" for="nombre">Nombre de la Materia:</label>
          <select type="text" id="nombre" name="nombre" #nombre required >
          <option value="Matematica">Matematica</option>
          <option value="Mecánica">Mecánica</option>
          <option value="Software">Software</option>
          <option value="Cálculo">Cálculo</option>
          <option value="Acústica">Acústica</option>
        </select>
        </div>
        <div>
          <label class="form-label" for="codigo">Código de la Materia:</label>
          <select type="text" id="codigo" name="codigo" #codigo required >
            <option value="Mat-101">Mat-101</option>
            <option value="Mec-110">Mec-110</option>
            <option value="Sof-104">Sof-104</option>
            <option value="Cal-220">Cal-220</option>
            <option value="Acu-140">Acu-140</option>
          </select>
        </div>
        <div>
          <label class="form-label" for="numEstudiantes"
            >Número de Estudiantes:</label
          >
          <input
            type="number"
            class="form-control"
            id="numEstudiantes"
            name="numEstudiantes"
            #numEstudiantes
            required
          />
        </div>
        <div>
          <label class="form-label" for="aulaAsignada">Aula Asignada:</label>
          <select type="text" id="aulaAsignada" name="aulaAsignada" #aulaAsignada required>
            <option value ="TM-101">TM-101</option>
            <option value ="DS-200">DS-200</option>
            <option value ="FC-300">FC-300</option>
            <option value ="CL-111">CL-111</option>
            <option value ="AC-212">AC-212</option>
          </select>
        </div>
        <div>
          <label class="form-label" for="docente">Docentes:</label>
          <select id="docente" name="docente" #docente required>
            <option value="Janio Allauca">Janio Allauca</option>
            <option value="Cristina Gracia">Cristina Gracia</option>
            <option value="Valeria Fernández">Valeria Fernández</option>
            <option value="Christopher Pesántez">Christopher Pesántez</option>
            <option value="Carlos Hidalgo">Carlos Hidalgo</option>
          </select>
        </div>

        <!-- Botón de envío del formulario -->
        <button
          type="submit"
          class="btn btn-success"
          (click)="
            guardarCurso(
              id.value,
              nombre.value,
              codigo.value,
              numEstudiantes.value,
              aulaAsignada.value,
              docente.value
            )
          "
        >
          Enviar
        </button>
      </form>
    </div>
      <br />
      <br />
      <div class="row">
        <div>
          <h2>Listado de materias disponibles</h2>
          <table>
            <thead>
              <tr>
                <th>ID de la Materia</th>
                <th>Nombre de la Materia</th>
                <th>Código de la Materia</th>
                <th>Número de Estudiantes</th>
                <th>Aula Asignada</th>
                <th>Docente</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataCursos">
                <td>{{ item.id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.codigo }}</td>
                <td>{{ item.numEstudiantes }}</td>
                <td>{{ item.aulaAsignada }}</td>
                <td>{{ item.docente }}</td>
                <td>
                  <button
                    class="btn btn-outline-success"
                    (click)="editarCurso(item)"
                  >
                    Editar
                  </button>

                  <button
                    type="submit"
                    class="btn btn-danger"
                    (click)="eliminarCurso(item)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="modoEdicion">
        <h2>Editar materias</h2>
        <form (ngSubmit)="onSubmit()">
          <label>ID de la materia:</label>
          <input
            class="form-control"
            [(ngModel)]="itemSeleccionado.id"
            name="id"
            required
          />

          <label>Nombre de la materia:</label>
          <select [(ngModel)]="itemSeleccionado.nombre"
          name="nombre"
          required>
            <option value="Matematica">Matematica</option>
            <option value="Mecánica">Mecánica</option>
            <option value="Software">Software</option>
            <option value="Cálculo">Cálculo</option>
            <option value="Acústica">Acústica</option>
          </select>

          <label>Código de la materia:</label>
          <select [(ngModel)]="itemSeleccionado.codigo"
          name="codigo"
          required>
            <option value="Mat-101">Mat-101</option>
            <option value="Mec-110">Mec-110</option>
            <option value="Sof-104">Sof-104</option>
            <option value="Cal-220">Cal-220</option>
            <option value="Acu-140">Acu-140</option>
          </select>

          <label>Número de estudiantes:</label>
          <input
            class="form-control"
            [(ngModel)]="itemSeleccionado.numEstudiantes"
            name="numEstudiantes"
            required
          />

          <label>Aula asignada:</label>
          <select [(ngModel)]="itemSeleccionado.aulaAsignada"
          name="aulaAsignada"
          required>
          <option value ="TM-101">TM-101</option>
          <option value ="DS-200">DS-200</option>
          <option value ="FC-300">FC-300</option>
          <option value ="CL-111">CL-111</option>
          <option value ="AC-212">AC-212</option>
          </select>

          <label>Docente:</label>
          <select
            [(ngModel)]="itemSeleccionado.docente"
            name="docente"
            required
          >
            <option value="Janio Allauca">Janio Allauca</option>
            <option value="Cristina Gracia">Cristina Gracia</option>
            <option value="Valeria Fernández">Valeria Fernández</option>
            <option value="Christopher Pesántez">Christopher Pesántez</option>
            <option value="Carlos Hidalgo">Carlos Hidalgo</option>
          </select>

          <button type="submit" class="btn btn-success">Actualizar</button>

          <button type="button" class="btn btn-primary" (click)="cancelar()">
            Cancelar
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
