div{
  margin: 4px;
}
nav-link{
  text-decoration: none;
}

h1{
  font-size: 24pt;
  margin: 5px;
}

form {
  max-width: 500px;
  margin: 5px 0;

}

label{
  margin-bottom: 3px;
  padding: 5px;
  text-justify: auto;
}

input.email {
  margin-left: 11px;
}

button {
  margin-right: 10px;
}





