<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estudiantes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="estudiantes.component.css">
</head>
<body>
  <br>
  <br>
    <h1 class="title">Registro de Estudiantes</h1>
<div class="card-body">
    <form class="form" (ngSubmit)="cargar(form)" #form="ngForm">
      <div>
        <label for="id" class="form-label">ID:</label>
        <input type="number" class="form-control" id="id" [(ngModel)]=id required #id>
      </div>
      <div>
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]=nombre required #nombre>
      </div>
      <div>
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]=apellido  required #apellido>
      </div>
      <div>
        <label for="email" class="form-label">Correo: </label>
        <input class="email" class="form-control" type="email" id="email" [(ngModel)]=email required #email>
      </div>
      <div>
        <label for="telefono" class="form-label">Teléfono:</label>
        <input type="number" class="form-control" id="telefono" [(ngModel)]=telefono required #telefono>
      </div>
      <button type="submit" class="btn btn-info" (click)="guardarEstudiante(id.value, nombre.value, apellido.value, email.value, telefono.value)">Registrar</button>
    </form>
  </div>
<br>
  <br>
  <div class="row">
    <div>
      <h2>Listado de Estudiantes</h2>
      <table class="table table-responsive-sm table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataEstudiante">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.email}}</td>
            <td>{{item.telefono}}</td>
            <td>
              <button class="btn btn-outline-success" (click)="editarEstudiante(dataEstudiante)">Editar</button>
              <button class="btn btn-outline-danger" (click)="eliminarEstudiante(item.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

      <br>

      <div>
        <h2>Eliminar estudiante</h2>
        <form>
          <div class="mb-3 mt-3">
            <label for="id" class="form-label">Ingrese el ID del estudiante a eliminar:</label>
            <input type="number" class="form-control" id="id" #ide>
          </div>
          <button type="submit" class="btn btn-danger" (click)="eliminarEstudiante(ide.value)">Eliminar</button>
        </form>
      </div>

      <br>

      <div *ngIf="modoEdicion">
        <h2>Editar estudiante</h2>
        <form (submit)="guardar()">
          <label>ID:</label>
          <input type="text" [(ngModel)]="itemSeleccionado.id" name="id" required>

          <label>Nombre:</label>
          <input type="text" [(ngModel)]="itemSeleccionado.nombre" name="nombre" required>

          <label>Apellido:</label>
          <input type="text" [(ngModel)]="itemSeleccionado.apellido" name="apellido" required>

          <label>Correo electrónico:</label>
          <input type="email" [(ngModel)]="itemSeleccionado.email" name="email" required>

          <label>Teléfono:</label>
          <input type="tel" [(ngModel)]="itemSeleccionado.telefono" name="telefono" required>

          <button class="btn btn-success" type="submit">Guardar</button>
          <button class="btn btn-primary" type="button" (click)="modoEdicion = false">Cancelar</button>

        </form>
      </div>

</body>
</html>
