<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calificación - Evaluaciones</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="calificaciones-evalaciones.component.css" />
  </head>
  <body>
    <br />
    <br />
    <!-- formulario.component.html -->
    <h1 class="title">Registro de Calificaciones</h1>
    <div class="card-body">
      <form class="form">
        <div>
          <label for="id" class="form-label">ID:</label>
          <input
            type="number"
            class="form-control"
            id="id"
            name="id"
            #id
            required
          />
        </div>
        <div>
          <label for="nombre" class="form-label">Estudiante:</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="nombre"
            #nombre
            required
          />
        </div>
        <div>
          <label for="materia" class="form-label">Materia:</label>
          <input
            type="text"
            class="form-control"
            id="materia"
            name="materia"
            #materia
            required
          />
        </div>
        <div>
          <label for="calificacion" class="form-label">Calificación:</label>
          <input
            type="number"
            class="form-control"
            id="calificacion"
            name="calificacion"
            #calificacion
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-success"
          (click)="
            guardarCalificacion(
              id.value,
              nombre.value,
              materia.value,
              calificacion.value
            )
          "
        >
          Guardar
        </button>
      </form>
    </div>
    <br />
    <br />
    <div class="row">
      <div>
        <h2 class="title">Listado de Calificaciones</h2>

        <table class="table table-responsive-sm table-striped table-bordered">
          <thead class="table-dark">
            <tr>
              <th>ID estudiante</th>
              <th>Nombre</th>
              <th>Materia</th>
              <th>Calificación</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataCalificacion">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.materia }}</td>
              <td>{{ item.calificacion }}</td>
              <td>
                <button
                  class="btn btn-outline-success"
                  (click)="editarCalificacion(item)"
                >
                  Editar
                </button>

                <button
                  type="submit"
                  class="btn btn-danger"
                  (click)="eliminarCalificacion(item)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br />
    <br />

    <div *ngIf="modoEdicion">
      <h2>Editar Calificación</h2>
      <form (ngSubmit)="onSubmit()">
        <label>Id:</label>
        <input
          class="form-control"
          [(ngModel)]="itemSeleccionado.id"
          name="id"
          required
        />

        <label>Nombre:</label>
        <input
          class="form-control"
          [(ngModel)]="itemSeleccionado.nombre"
          name="nombre"
          required
        />

        <label>Materia:</label>
        <input
          class="form-control"
          [(ngModel)]="itemSeleccionado.materia"
          name="materia"
          required
        />

        <label>Calificación:</label>
        <input
          class="form-control"
          [(ngModel)]="itemSeleccionado.calificacion"
          name="calificacion"
          required
        />
        <button class="btn btn-success" type="submit">Actualizar</button>

        <button class="btn btn-primary" type="button" (click)="cancelar()">
          Cancelar
        </button>
      </form>
    </div>
  </body>
</html>
