<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calificacion - Evaluaciones</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="calificaciones-evalaciones.component.css" />
  </head>
  <body>
    <br />
    <br />
    <!-- formulario.component.html -->
    <div class="card-body">
      <h2 class="title">Registro de Calificaciones</h2>
      <form class="form">
        <div>
          <label for="id" class="form-label">Id:</label>
          <input type="number" id="id" name="id" #id required />
        </div>
        <div>
          <label for="nombre" class="form-label">Estudiante:</label>
          <input type="text" id="nombre" name="nombre" #nombre required />
        </div>
        <div>
          <label for="materia" class="form-label">Materia:</label>
          <input type="text" id="materia" name="materia" #materia required />
        </div>
        <div>
          <label for="calificacion" class="form-label">Calificacion:</label>
          <input
            type="number"
            id="calificacion"
            name="calificacion"
            #calificacion
            required
          />
        </div>
        <button type="submit" class="btn btn-success" (click)="guardarCalificacion(id.value,nombre.value,materia.value,calificacion.value)">Guardar</button>
      </form>

      <br />
      <br />
      <div>
        <h2 class="title">Tabla de Estudiantes</h2>

        <table class="table table-responsive-sm table-striped table-bordered">
          <thead>
            <tr>
              <th>Id estudiante</th>
              <th>Nombre</th>
              <th>Materia</th>
              <th>Calificación</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataCalificacion">
              <td>{{ item.id }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.materia }}</td>
              <td>{{ item.calificacion }}</td>
              <td>
                <button
                  class="btn btn-outline-success"
                  (click)="editarCalificacion(id)"
                >Editar</button>

                <button
                  type="submit"
                  class="btn btn-danger"
                  (click)="eliminarCalificacion(id)"
                >Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="modoEdicion">
        <h2>Editar Calificación</h2>
        <form (ngSubmit)="onSubmit()">
          <label>Id:</label>
          <input [(ngModel)]="itemSeleccionado.id" name="id" required>

          <label>Nombre:</label>
          <input [(ngModel)]="itemSeleccionado.nombre" name="nombre" required>

          <label>Materia:</label>
          <input [(ngModel)]="itemSeleccionado.materia" name="materia" required>

          <label>Calificación:</label>
          <input [(ngModel)]="itemSeleccionado.calificacion" name="calificacion" required>

          <button class="btn btn-primary" type="submit">Guardar</button>
          <button class="btn btn-danger" type="button" (click)="cancelar()">Cancelar</button>
        </form>
      </div>

    </div>
  </body>
</html>
